/* Example using Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background: #F9FAFB;
    font-family: 'Montserrat', sans-serif;
}

#root {
    height: 100vh;
    width: 100vw;
}
