.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.dashboardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
}
.button-container-rol{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 80%;
    justify-content: space-around;
}

.dashboardSubtitle{
    font-size: 1.5rem;
    color: #000;
    margin: 20px 0 0 0;
}

