.ordenarButton {    
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-bottom: 15px;
    transition: background-color 0.2s;
}

.ordenarButton:hover {
    background-color: #333;
}