.formContainer {
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.formRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.containerSolicitudColumn{
    display: flex;
    flex-direction: column;
    background-color: #F0F0F0;
    border: 1px solid #C3C3C3;
    border-radius: 8px;
    width: 100%;
    padding: 0 15px;
}
.solTitulo{
    font-size: 14px;
    font-weight: bold;
    color: #868686;
    margin-bottom: 10px;
}
#solSubtitle{
    font-size: 16px;
    color: #000;
    margin: 5px 0;
}
#solDescripcion{
    font-size: 14px;
    color: #4F4F4F;
    font-style: italic;
    margin: 5px 0;
}
.materialesTitulo{
    font-size: 13px;
    font-weight: bold;
    color: #000;
    margin: 5px 0;
}
.materialItem{
    font-size: 13px;
    color: #4F4F4F;
    margin: 3px 0;
    width: fit-content;
}
.descriptionField {
    margin-bottom: 15px;
    min-height: 80px;
    padding: 8px;
    resize: vertical;
}