.clienteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.servicioContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-top: 20px;
}
.nuevaSolicitudButton{
    border: none;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
.nuevaSolicitudButton:hover{
    background-color: #858181;
}
.buttonContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}