.formContainer{
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.containerRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}
.subtitle{
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
}
.containerColumn{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.exitSolicitud{
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.label{
    margin-top: 10px;
    font-weight: bold;
}
.inputField{
    width: 100%;
    border: 1px solid #C3C3C3;
    border-radius: 10px;
    padding: 10px 0 8px 5px;
    background-color: #F0F0F0;
    color: #6C6C6C;
    font-size: 12px;
}
.containerColumnDoble{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: baseline;
    width: 100%;
}
.addMaterialButton{
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 5px;
    font-size: 13px;
    margin-top: 10px;
}
.inputSelect{
    width: 100%;
    border: 1px solid #C3C3C3;
    border-radius: 10px;
    padding: 8px 0 8px 5px;
    background-color: #F0F0F0;
    color: #6C6C6C;
    font-size: 12px;
    cursor: pointer;
}
.containerColumnTriple{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    width: 100%;
}
.submitButton{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 100px;
    font-size: 1rem;
    margin-top: 20px;
    margin-right: 10px;
}
.cancelButton{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 50px;
    font-size: 1rem;
    margin-top: 20px; 
}
.containerRowButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.containerRow.materialContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.materialItemCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 6px;
    min-width: 150px;
    max-width: 200px;
    flex: 1 1 150px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.deleteMaterialButton{
    margin-top: 8px;
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-size: 16px;
}
.materialInfo{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}
.materialQuantity{
    font-size: 13px;
    color: #555;
}
