.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.container{
    background-color: #fff;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    padding: 30px 60px 10px;
    width: 400px;
    min-height: 280px;
    gap: 40px;
}

.homeSubtitle{
    font-size: 1.5rem;
    color: #000;
    margin: 0;
    text-align: center;
    font-weight: 400;
}

.button-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}