.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 8px;
    margin-bottom: 15px;
}

.label {
    font-size: 1rem;
    color: #000;
    margin: 0;
    font-weight: 500;
}

#username, #password, #name, #phone {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 1rem;
}