.button-rol {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    padding: 40px 40px;
    font-size: 1rem;
    cursor: pointer;
    width: 20rem;
    height: 10rem;
    align-items: center;
}
.button-rol:hover {
    background-color: #617487;
    color: #fff;
    border: none;
    transition: 0.3s;
}